<div class="clearfix space"></div>

<section class="single-page-banner">
  <!-- page banner area starts -->
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <div class="sinlge-page-text">
          <h1>Opportunities</h1>
          <ul>
            <li>
              <a href="index.html">Home /
                <span>Opportuities</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page banner area ends -->

<!-- project details area starts -->
<div class="project-area section-big">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="project-left">
          <div class="project-img mb-30">
            <img src="/images/project/p01.jpg" alt="">
          </div>
          <div class="project-text mb-30">
            <h3>Opportunities while working with the communities
            </h3>
            <p>Hello friends, we are working in this family to help each other and to make a benefits of each others also. While helping each other, we can earn a three major benefits. Let's see the details about the benefits.
            </p>
          </div>
          <div class="s-project-details">
            <h3>growth on your help</h3>
            <p>When we invest in an entreprenuer, we also gets a good benefit on behalf of our help. When you invest the system puts your investment to the entreprenuer and it automatically starts earning interest.For the entreprenuer they get capital to pump
              into their business supporting their expansion & growth.
            </p>
          </div>
          <div class="s-project-details">
            <h3>refferal on your help</h3>
            <p>You can refer someone who needs the investment to Zaka & after a our approval process they get to be put in the platform and can raise the amount they need.</p>
          </div>
          <div class="s-project-details">
            <h3>level benefits from your downline</h3>
            <p>As a community, when you grow you expand your network, this may help you in future since we will be holding monthly educational sessions to ensure we grow and expand ourselves and our businesses.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar-right">
          <!-- <div class="client-details mb-50"> <div class="sub-title"> <h2>Health business police.</h2> </div> <ul class="c-details-list"> <li><strong>client</strong> <span>hera rahman</span> </li> <li><strong>date</strong> <span>December 20 ,2018</span>
          </li> <li><strong>live demo</strong> <span>https://themeforest.net</span></li> <li><strong>tag</strong> <span>business,Finance</span> </li> </ul> </div> -->

          <div class="latest-blg mb-50">
            <div class="sub-title">
              <h2>Our links</h2>
            </div>

            <ul class="service-list">
              <li>
                <a href="<%= url_for about_us_path %>">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                  </span>About us</a>
              </li>
              <li>
                <a href="<%= url_for opportunities_path %>">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                  </span>Opportunities</a>
              </li>
              <li>
                <a href="<%= url_for contacts_path %>">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                  </span>Contacts</a>
              </li>
              <li>
                <a href="<%= url_for faq_path %>">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                  </span>FAQs</a>
              </li>
              <li>
                <a href="<%= url_for terms_and_conditions_path %>">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                  </span>Privacy policy</a>
              </li>
              <li>
                <a href="<%= url_for terms_and_conditions_path %>">
                  <span>
                    <i class="fa fa-angle-double-right"></i>
                  </span>Terms & conditions</a>
              </li>
            </ul>
          </div>
          <div class="social-link mb-30">
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="">
              <i class="fa fa-pinterest-p"></i>
            </a>
            <a href="">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
          <div class="contact-number">
            <h3>+254-722-940-278</h3>
            <p>info@zaka.co.ke</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- project-details-area ends -->

<section class="callto-action section-small ">
  <!-- callto action starts -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="call-text">
          <h3>Contact with us for customer support</h3>
          <p>we are ready 24/7 hours to support.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="call-button">
          <a class="action-button btn" href="#">get support</a>
        </div>
      </div>
    </div>
  </div>
</section>